body{
    width: 100vw;
    height: 100vh;
}

header{
    background-color: aqua;
    width: 100vw;
}

.main-cont{
    width: 100vw;
    display: flex;
    margin-right: 20px;

}

.search{
    width: 20%;
    /*background-color: blue;*/
    padding: 5px;

}

.display{
    width: 80%;
    display: flex;
    flex-direction: column;

}

h2 {
    text-transform: capitalize;
}

.search-input{
    width: 80%;
    border-radius: 4px;
    border: 1px black solid;
    height: 30px;
    background-color: whitesmoke;
}


button {
    width: 80%;
    margin-top: 10px;
    height: 30px;
    border-radius: 4px;
    border: 0px;
    background-color: lightslategray;
}

.submit-btn{
    background-color: lightseagreen;
}

button:hover{
    transform: scale(1.02);
    background-color: antiquewhite;
}

.day-disp{
    width: 95%;
    height: 300px;
    border: black 2px solid;
    border-radius: 8px;
    margin-right: 30px;
    padding-left: 10px;
    padding-top: -10px;
}

.forecast {
    width: 17.9%;
    background-color: blue;
    margin: 3px;
    height: 200px;
    padding: 5px;
    color: antiquewhite;
}

.five-day-forecast {
    display: flex;
    flex-direction: row;

}